{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahl-oil</title>
    <meta name="description" content='Ahl-oil (ООО "Bukhara Auto Parts") · Моторные масла · Универсальные автомобильные смазки · Охлаждающие жидкости автомобильные · Тормозные жидкости ·'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/oil-barrel.png' %}">
</head>
<body>

    <nav class="nav">
      <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class=" bar"></span>
      </div>
      <a href="{% url 'catalog:home' %}" class="logo">
        <!-- <img src="{% static 'images/logo.png' %}" width="150px" alt=""> -->
          <span class="logo-text">Ahl<span>-oil</span></span>
      </a>
      <ul class="navbar" id="nav-links">
          <button class="close-menu-toggle" id="close-menu">
              <i class="uil uil-times"></i>
          </button>
          <li class="nav-item"><a href="{% url 'catalog:products' %}">Все продукты</a></li>
          {% for category in categories %}
          <li class="nav-item drop">
              <a>| {{ category }} |</a>
              <ul class="drop-menu">
                  <li><a href="{% url 'catalog:products' %}?category={{ category.pk }}">| {{ category }} |</a></li>
                  {% for subcategory in subcategories %}
                    {% if subcategory.category == category %}

                      <li><a href="{% url 'catalog:products' %}?subcategory={{ subcategory.pk }}">{{ subcategory }}</a></li>
                    {% endif %}
                  {% endfor %}
              </ul>
          </li>
          {% endfor %}
          <li class="nav-item"><a href="{% url 'catalog:map' %}">Локация</a></li>

      </ul>
      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <a id="saved" href="{% url 'catalog:favorites_list' %}"><img src="{% static 'images/wishlist.png' %}"></a>
      <div class="search-box">
          <i class="uil uil-search search-icon"></i>
          <form action="{% url 'catalog:products' %}" method="get">
            <input type="search" placeholder="Поиск..." name="search">
          </form>
      </div>
    </nav>
<br><br><br>

    {% block content %}
    {% endblock %}
    {% if messages %} 
        <div class="messages-container"> 
            <ul class="messages"> 
                {% for message in messages %} 
                    <li class="message">{{ message }}</li> 
                {% endfor %} 
            </ul> 
        </div> 
    {% endif %}

    <br><br>
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Ahl-<span>oil</span></h3>

        <p class="footer-links">
          <a href="{% url 'catalog:home' %}" class="link-1">Home</a>
          
          <a href="{% url 'catalog:home' %}#newss">News</a>
        
          <a href="#">About</a>
          
          <a href="{% url 'catalog:map' %}">Локация</a>
        </p>

        <p class="footer-company-name">"Bukhara auto-parts" © 2024</p>
        <p class="footer-company-name"> Ваш надежный партнер в мире автозапчастей.</p>
        
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span> 5-мкр ул Буркут 74-дом</span>Бухара, Узбекистан</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+99898-261-55-33</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:Ahloiluz@gmail.com">Ahloiluz@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>О компании ООО "Bukhara auto-parts"</span>
          ООО "Bukhara Auto-Parts" уже 15 лет поставляет качественные смазочные материалы и охлаждающеи жидкости . Мы предлагаем широкий ассортимент товаров для разных автомобилей и заслужили доверие клиентов благодаря опыту и профессионализму.
        </p>

        <div class="footer-icons">
          <a href="https://t.me/cnrgbukhara">
            <img width="30px" src="{% static 'images/telegram.png' %}" alt="Telegram">
          </a>
          <a href="https://www.instagram.com/cnrg_uzbekistan?igsh=MW11emQ4NWgyMnlx&utm_source=qr">
            <img width="30px" src="{% static 'images/instagram.png' %}" alt="Instagram">
          </a>
          <a href="#">
            <img width="30px" src="{% static 'images/youtube.png' %}" alt="YouTube">
          </a>
          <a href="tel:+998982615533">
            <img width="30px" src="{% static 'images/phone.png' %}" alt="Phone">
          </a>
          <a href="{% url 'catalog:map' %}">
            <img width="30px" src="{% static 'images/place.png' %}" alt="location">
          </a>
        </div>

      </div>
      <p class="powered">Powered by <a href="https://mrirgashev.netlify.app/" target="_blank">Irgashev Nematullo</a></p>
    </footer>

    
    <script>
      // Wait for the DOM to fully load
      document.addEventListener('DOMContentLoaded', function() {
          // Set a timeout to hide the messages after 3 seconds
          setTimeout(function() {
              // Select the messages container
              var messagesContainer = document.querySelector('.messages-container');
              if (messagesContainer) {
                  messagesContainer.style.display = 'none';
              }
          }, 3000); // 3000 milliseconds = 3 seconds
      });
  </script>

    <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const closeMenu = document.getElementById('close-menu');
        const navLinks = document.getElementById('nav-links');
        const navItems = document.querySelectorAll('.nav-item.dropdown');
        const searchIcon = document.querySelector("#searchIcon");
        const nav = document.querySelector(".nav");
        const searchBox = document.querySelector('.search-box'); // Assuming search-box is a class of the search box
    
        mobileMenu.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    
        closeMenu.addEventListener('click', () => {
            navLinks.classList.remove('active');
        });
    
        // Close menu when clicking outside
        document.addEventListener('click', function(e) {
            const isClickInsideNav = navLinks.contains(e.target) || mobileMenu.contains(e.target);
            if (!isClickInsideNav) {
                navLinks.classList.remove('active');
            }
    
            // Close search box when clicking outside
            const isClickInsideSearch = searchBox.contains(e.target) || searchIcon.contains(e.target);
            if (!isClickInsideSearch) {
                nav.classList.remove('openSearch');
                searchIcon.classList.replace("uil-times", "uil-search");
            }
        });
    
        // Toggle dropdown menus on click
        navItems.forEach(item => {
            item.addEventListener('click', (e) => {
                e.stopPropagation(); // Prevent click event from bubbling up
                const isActive = item.classList.contains('active');
                navItems.forEach(i => i.classList.remove('active')); // Close all dropdowns
                if (!isActive) {
                    item.classList.add('active'); // Open the clicked dropdown
                }
            });
        });
    
        searchIcon.addEventListener("click", () => {
            nav.classList.toggle("openSearch");
            nav.classList.remove("openNav");
            if (nav.classList.contains("openSearch")) {
                return searchIcon.classList.replace("uil-search", "uil-times");
            }
            searchIcon.classList.replace("uil-times", "uil-search");
        });
    </script>
    

</body>
</html>