{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container is-multiline" style="height: 100vh;">
    <div class="columns">
        {% for product in products %}
            <div class="column is-3" style=" margin: 10px; border-radius: 14px; display: flex;flex-direction: column; align-items: center;background-color: #c5e1db;">
                <div class="demo-carousel">
                    <div class="demo-carousel">
                        {% if product.id in request.session.favorites %}
                            <a href="{% url 'catalog:remove_from_favorites' product.id %}">
                                <img src="{% static 'images/saved.png' %}" alt="" class="save"> 
                            </a>
                        {% else %}
                            <a href="{% url 'catalog:add_to_favorites' product.id %}">                        
                                <img src="{% static 'images/save.png' %}" alt="" class="save"> 
                            </a>
                        {% endif %}
                        <img src="{{ product.image.url }}" alt="{{ product.image.url }}" loading="lazy" class="product-image">
                    </div>
                </div>
                <p>
                    {{ product.name }}
                </p>
                <p>
                    {% if product.thoughness %}
                        {{ product.thoughness }}
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% comment %} 
<h1>My Favorites</h1>
<ul>
    {% for product in products %}
        {{ product.name }}
        <li>{{ product.name }} - <a href="{% url 'catalog:remove_from_favorites' product.id %}">Remove from Favorites</a></li> 
    {% endfor %}
</ul> {% endcomment %}

{% endblock content %}