  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100%;
    min-height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #ede6d6; */
  } 
  /* .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 200px;
    background: #035e5bae;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    backdrop-filter: blur(20px);
  }
  
  .nav,
  .nav .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .nav-links li {
    position: relative;
  }

  .dropdown-toggle {
      cursor: pointer;
      height: 100%;
  }

  .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: -50%;
      background-color: rgb(104, 173, 158);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 3px;
      
  }

  .dropdown-menu li {
      list-style: none;
  }

  .dropdown-menu li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
      text-align: center;
  }

  .dropdown-menu li a:hover {
    color: #c6faeb;
  }

  .dropdown:hover .dropdown-menu {
      display: block;
  }




  
  .nav {
    padding: 15px 5vw;
    justify-content: space-between;
  }
  .saved_list_image {
    height: 25px;
    width: 30px;
    margin-bottom: -10px;
  }
  a {
    color: #c6faeb;
    text-decoration: none;
  }
  .nav .logo {
    font-size: 26px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: rgb(241, 253, 246);
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
    font-size: 15px;

  }
  .nav .nav-links a {
    transition: all 0.2s linear;
    color: white;
    
  }
  .nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
  }
  .nav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    position: absolute;
    right: 250px;
    height: 35px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
  }
  .search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #727070;
    transform: translateY(-50%);
  }
  .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
    font-size: clamp(1rem, 0.835rem + 0.499vi, 1.2rem);

  
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  } */

  .active {
    scroll-snap-type: unset;
  }
  .footer {
    width: 100%;
    margin-bottom: 0;
    border-radius: 6px;
    background-color: white;
    margin-right: 0;
    padding-bottom: 0;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 0;
    /* padding: 60px; */
  }
  .footer-row .footer-col h4 {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #9b9999;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons img {
    color: #afb6c7;
    height: 30px;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }

  .map {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    iframe {
      width: 90%;
      height: 95vh;
      border-radius: 14px;
    }
  }


  

.messages-container {
  opacity: 70%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.message {

  margin-bottom: 10px;
  padding: 15px;
  border-radius: 20px;
  color: hwb(0 0% 100%);
  backdrop-filter: blur(10px);
  font-weight: bold;
  border: 1px rgba(0, 0, 0, 0.61) solid;;
}

.message.error {
  background-color: #000000;
}

.message.success {
  background-color: #ff0000;
  
}
  /* responsive */
  /* @media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 50px;
    }
    .nav .search-box {
      right: 150px;
    }
  }
  @media screen and (max-width: 950px) {
    .nav {
      padding: 15px 50px;
    }
    .nav .search-box {
      right: 100px;
      max-width: 400px;
    }
  } */
  @media screen and (max-width: 768px) {
    /* .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #abd1bdfe;
      backdrop-filter: blur(10px);

      transition: all 0.4s ease;
      z-index: 999;
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .navOpenBtn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .search-box {
      top: calc(100% + 10px);
      max-width: calc(100% - 20px);
      right: 50%;
      transform: translateX(50%);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
    } */

    
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }  